//-----------------------------
//			Base Styles
//-----------------------------
body{
	margin: 0px;
	font-size: 100%;
	font-size: 18px;
	background: #EDEFF0;
	color: #444;
	font-family: 'Lato', sans-serif;
}
hgroup{
	background: $primary;
	position: relative;
	color: #EEE;
	padding: 30px 10px;
	height: 80vh;
	overflow: hidden;
	canvas{
		position: absolute;
		top: 0;
	}
	h1{
		font-size: 3em;
		margin-bottom: 10px;
		margin-top: 100%;
		text-transform: uppercase;
	}
	h2{
		margin-top: 0px;

	}
}
article{
	padding: 10px;

	p{
		font-size: 1.2em;
		line-height: 1.3em;
		a{
			color: #454545;
			transition: all .4s;
			&:hover{
				color: #555;
			}
		}
	}
	h3{
	    border-bottom: 2px solid $secondary;
	    padding-bottom: 5px;
	    text-transform: uppercase;
	    margin-bottom: 0px;
	    font-size: 1.5em;
    	color: $secondary;
    	font-weight: 400;
	}

}

.comp-color{	
	color: $secondary;
}
.desat-comp-color {
		color: desaturate($secondary, 10%);
}
.container{
	margin: 0 auto;
	max-width: 1100px;

}
.btn{
	@include button(1rem);
	display: inline-block;

}
@media (min-width: 400px){
.row{
	display: flex;
	margin: 0px -10px;
	.col-6{
		flex: 1;
		padding: 0 10px;
	}
}
hgroup{
	height: auto;
	padding: 30px 0;
	h1{
		font-size: 5em;
		margin-top: 0px;
	}
	h2{
		margin-top: 0px;
	}
}

}